<div class="row m-0 justify-content-center">
  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 text-center" style="margin-top: 100px!important;">
    <div class="change-password-box">
      <div class="">
        <form [formGroup]="inputForm">
          <input class="change-password-input" placeholder="Old Password" formControlName="oldPassword">
          <input class="change-password-input" placeholder="New Password" formControlName="newPassword">
          <input class="change-password-input" placeholder="New Password Again" formControlName="newPasswordAgain">
          <div>
          <span *ngIf="inputForm.get('newPasswordAgain')?.hasError('matchError')" class="" style="color: black">
            <i class="fas fa-warning me-2"></i>
            New Password not match
          </span>
          </div>
          <button [disabled]="!inputForm.valid" (click)="changePassword()">
            Change Password <i class="fa-solid fa-lock"></i></button>
          <div class="change-password-message">
            <div *ngIf="spinner" class="spinner-border text-warning" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <p *ngIf="success" style="color: green">{{success}} <a routerLink="/home" style="text-decoration: none">Back
              Home</a></p>
            <p *ngIf="unSuccess" style="color: #222222">{{unSuccess}} Try again after <span
              style="color: white">{{timeLeft}}</span> seconds.(For Security)</p>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
