<div class="box_astronaut">
  <img class="object_astronaut" src="http://salehriaz.com/404Page/img/astronaut.svg" width="140px">
</div>
<img class="object_rocket" src="http://salehriaz.com/404Page/img/rocket.svg" width="40px">

<div class="row justify-content-center m-0" style="margin-top: 100px!important;">
  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 text-center">
    <button routerLink="/home/settings/change-password">Change Password <i class="fa-solid fa-key"></i></button>
    <button routerLink="/home/settings/change-username">Change Username <i class="fa-solid fa-rotate"></i></button>
    <button routerLink="/home/settings/change-profile-photo">Change Profile Photo <i class="fa-solid fa-image"></i></button>
    <button routerLink="/home/settings/delete-account">Delete My Account <i class="fa-solid fa-user-slash"></i></button>
  </div>
</div>
