<div class="row justify-content-center m-0">
  <div class="my-4 col-xl-8 col-lg-4 col-md-6 col-sm-12">
    <h1 style="text-align: center;font-family: 'Dubai'; color: #4B0082"><i><b> <i style="color: white">E-</i>Commerce App <i
    ></i></b></i></h1>

    <div class="box_earth">
      <img class="object_earths" src="http://salehriaz.com/404Page/img/earth.svg" width="100px">
    </div>
    <div class="container my-5" id="container">
      <div class="form-container sign-in-container">
        <form [formGroup]="inputForm">
          <h1>Sign in</h1>
          <div class="social-container">

          </div>
          <input placeholder="Username" formControlName="username">
          <input placeholder="Password" formControlName="password">
          <p><a  href="mailto:ahmet.aker.1907@gmail.com">Forgot your password? Contact with us.</a></p>
          <button (click)="login()">Sign In</button>
          <div style="border: 1px solid white; width: 280px; height: 40px">
            <div class="spinner-border text-success my-3" role="status" *ngIf="spinner">
              <span class="sr-only"></span>
            </div>
            <p *ngIf="success" style="color: green">You logged in, being redirected...</p>
            <p *ngIf="unSuccess" style="color: red">{{unSuccess}}</p>
            <p></p>
          </div>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Welcome Back!</h1>
            <p>To keep connected with us please login with your personal info</p>
            <button class="ghost" id="signIn">Sign In</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>Welcome Back!</h1>
            <p>After entering your personal information, you can start the adventure!</p>
            <button class="ghost" id="signUp" routerLink="/register">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


