.delete-account-input {
  border: 1px solid gray;
  width: 80%;
  height: 50px;
  margin-top: 20px;
  border-radius: 3px;
  background-color: transparent;
  padding-left: 10px;
  color: white;
}

.delete-account-input:focus {
  outline: none;
  border: 1px solid black;
}

.delete-account-input::placeholder {
  font-size: 16px;
  color: white;
}

.delete-account-button:hover {
  background-color: steelblue;
}

.delete-account-button:disabled {
  background-color: gray;
}

.delete-account-message {
  height: 50px;
  width: 100%;
  margin-top: 20px
}

.delete-account-box {
  border-radius: 4px;
  background: -webkit-linear-gradient(to right, #8B008B, #4B0082);
  background: linear-gradient(to right , #8B008B, #4B0082);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #FFFFFF;
  position: relative;
  height: 347px;
  width: 100%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

button {
  background-color: #4B0082;
  border: 1px solid gray;
  color: white;
  width: 80%;
  border-radius: 3px;
  margin-top: 20px;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:disabled {
  background-color: transparent;
  border-color: gray;
  color: gray!important;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #FFFFFF;
}
