<div class="row m-0" *ngIf="!empty">
  <section class="wrapper">
    <div class="container-fostrap">
      <div class="content">
        <div class="container">
          <div class="col-sm-12">
            <div class="row col-sm-12 justify-content-center" style="height: 300px">
              <div class="card col-xl-3 col-lg-4 col-md-6 col-sm-12" *ngFor="let item of myBuys">
                <a class="img-card">
                  <img Sales [paths]="item.imagePath">
                </a>


                <div class="card-content">
                  <h4 class="card-title"
                      style="background-color: rgb(250, 250, 250); border: 1px solid cadetblue; padding-left: 3px;
                       border-top-left-radius: 4px; border-top-right-radius: 4px">
                    Price: <span style="color: green">{{item.price}}$</span>
                  </h4>

                  <p class="card-footer"
                     style="font-size: 14px; margin-top: 10px; padding-left: 25px; border: 1px solid cadetblue">
                    <b>Purchase Date:</b> {{item.createdAt | date:'dd MMMM yyyy'}}
                  </p>
                </div>
                <div class="card-read-more" style="margin-top: -25px!important;">
                  <p style="margin-top: 10px!important; color: green">(You bought this)</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<div *ngIf="empty">
  <svg width="380px" height="500px" viewBox="0 0 837 1045" version="1.1" xmlns="http://www.w3.org/2000/svg"
       xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
      <path d="M353,9 L626.664028,170 L626.664028,487 L353,642 L79.3359724,487 L79.3359724,170 L353,9 Z" id="Polygon-1"
            stroke="#007FB2" stroke-width="6" sketch:type="MSShapeGroup"></path>
      <path d="M78.5,529 L147,569.186414 L147,648.311216 L78.5,687 L10,648.311216 L10,569.186414 L78.5,529 Z"
            id="Polygon-2" stroke="#EF4A5B" stroke-width="6" sketch:type="MSShapeGroup"></path>
      <path d="M773,186 L827,217.538705 L827,279.636651 L773,310 L719,279.636651 L719,217.538705 L773,186 Z"
            id="Polygon-3" stroke="#795D9C" stroke-width="6" sketch:type="MSShapeGroup"></path>
      <path d="M639,529 L773,607.846761 L773,763.091627 L639,839 L505,763.091627 L505,607.846761 L639,529 Z"
            id="Polygon-4" stroke="#F2773F" stroke-width="6" sketch:type="MSShapeGroup"></path>
      <path d="M281,801 L383,861.025276 L383,979.21169 L281,1037 L179,979.21169 L179,861.025276 L281,801 Z" id="Polygon-5"
            stroke="#36B455" stroke-width="6" sketch:type="MSShapeGroup"></path>
    </g>
  </svg>
  <div class="message-box">
    <h1>*_*</h1>
    <h4>You haven't bought anything yet.</h4>
    <div class="buttons-con">
      <div class="action-link-wrap">
        <a onclick="history.back(-1)" class="link-button link-back-button">Go Back</a>
        <a routerLink="/home" class="link-button">Go to All Sales</a>
      </div>
    </div>
  </div>
</div>
